{% extends "layout.html" %}

{% block content %}
<div class="span14">
<fieldset>
	<legend>Загрузка сборки</legend>
<form action="/admin/upload" method="POST" enctype="multipart/form-data" >
<label for="file">JAR:</label>
<input type="file" name="myfile" />
<input type="submit" value="Загрузить" />
</form>
</fieldset>
</div>
{% endblock %}

