{% extends "layout.html" %}

{% block content %}
<div class="span14">

<h4>Ресурсы</h4>
<div class="span14">
<a href="/admin/resources/add">Добавить</a>
</div>
<div class="span12">
<table>
<thead> 
	<tr><th>Тип</th><th>Название</th><th>Архив?</th><th>Управление</th></tr>
</thead>
<tbody>
{% for item in resources %}
	<tr><td>{{item.tname}}</td><td>{{item.rname}}</td><td>{{item.compressed}}</td><td><a href="/admin/resources/delete/{{item.id}}">Удалить</a></td></tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="span14">
<a href="/admin">Вернуться</a>
</div>
</div>
{% endblock %}

