{% extends "layout.html" %}

{% block content %}
<div class="span14">
<fieldset>
	<legend></legend>
<form action="/admin" method="post">
<h1>Добавление новости</h1>
<p>Справка по форматированию - <a href="http://daringfireball.net/projects/markdown/basics">здесь</a></p>
<label for="caption">Заголовок</label>
<input type="text" id="caption" name="caption" />
<br />
<label for="news">Текст</label>
<textarea id="news" name="news" rows="5" cols="80">
</textarea>
<input type="submit" value="Post" />
</form>
</fieldset>
</div>
{% endblock %}

