{% extends "layout.html" %}

{% block content %}
<div class="span14">
<fieldset>
	<legend>Загрузка ресурсов</legend>
<form class="form-stacked" action="/admin/resources/add" method="POST" enctype="multipart/form-data">
<label for="name">Название:</label>
<input type="text" name="name" />
<label for="author">Автор:</label>
<input type="text" name="author" />
<div class="clearfix">
<label>
<input type="checkbox" name="compressed" />
<span>Архив?</span>
<label>
</div>
<div class="clearfix">
<label for="type">Тип:</label>
<div class="input">
<select name="type" size="1">
{% for t in types %}
<option value="{{t.id}}">{{t.name}}</option>
{% endfor %}
</select>
</div>
</div>
<div class="input">
<label for="file">Файл:</label>
<input type="file" name="myfile" />
</div>
<div class="input">
<input type="submit" value="Загрузить" />
</div>
</form>
</fieldset>
</div>
{% endblock %}

