{% extends "layout.html" %}

{% block content %}
<div class="span14">
<h4>Выполнено</h4>
<p>Размер файла: {{ size }} байт, Версия: {{ zip }}</p>
<a href="/admin">Вернуться</a>
</div>
{% endblock %}

