{% extends "layout.html" %}

{% block content %}
<div class="span14">
<h4>Администрирование</h4>

<h5>Новости</h5>
<a href="/admin/add">Добавить новость</a>
<br />
<ul>
{% for post in posts %}
<li>{{post.title}} <a href="/admin/delete/{{post.id}}">Удалить</a></li>
{% endfor %}
</ul>

<h5>Версии</h5>
<a href="/admin/upload">Обновить версию</a>
<br />
<ul>
{% for version in versions %}
<li>{{version.version}} (Загрузок: {{version.downloaded}}) <a href="/admin/vdelete/{{version.id}}">Удалить</a></li>
{% endfor %}
</ul>
<h5>Ресурсы</h5>
<a href="/admin/resources">Управление ресурсами</a>
</div>
{% endblock %}

