{% extends "layout.html" %}

{% block content %}
<div class="span14">
<fieldset>
	<legend>Конструктор</legend>
<form class="form-stacked" action="/admin/c" method="POST" enctype="multipart/form-data">
<div class="input">
<label for="name">Название</label>
<input type="text" name="name" value="BombusMod" />
</div>
<div class="clearfix">
<label for="type">Смайлы</label>
<div class="input">
<select name="type" size="1">
{% for t in smiles %}
<option value="{{t.id}}">{{t.name}}</option>
{% endfor %}
</select>
</div>
</div>
<div class="input">
<input type="submit" value="Собрать" />
</div>
</form>
</fieldset>
</div>
{% endblock %}

