﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="DESCRIPTION" content="bombus bombusmod j2me java mobile jabber client"/>
    <meta name="Keywords" content="bombus bombusmod j2me java mobile jabber client"/>
    <meta name="subject" content="bombus bombusmod j2me java mobile jabber client"/>
    <meta name="Document-state" content="Dynamic"/>
    <meta name="revizit-after" content="1 days"/>
    <meta name="home_url" content="http://bombusmod.net.ru"/>
    <meta name="robot" content="all"/>
    <meta name="yandex-verification" content="5577568a82a87b08"/>
    <meta name="google-site-verification" content="urOguVeUSbrSRPFzmo5jrXbYJ9XNffkTcmVQBbswAas"/>
    <meta name="msvalidate.01" content="2E334DA6F5D70CFC0FCA680A5FAF07D9"/>
    <meta name="y_key" content="36ea806052fce17c"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="initial-scale = 2.3, user-scalable = no">
    <link rel="stylesheet" href="/files/magic-bootstrap-min.css"/>
    <link rel="stylesheet" href="/files/style.css" type="text/css" />
    <link rel="alternate" title="BombusMod - модификация мобильного j2me(java) jabber клиента Bombus"
          href="/bombusmod.xml" type="application/rss+xml"/>
    <title>«BombusMod» - Модификация jabber клиента Bombus (BombusMod)</title>
</head>
<body role="document">
<div class="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                    <a href="/" class="brand">
                        <img class="img-responsive" src="/files/logo-only.png"/></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="level1" href="/c/">Конструктор</a></li>
                    <li><a class="level1" href="/screenshots">Скриншоты</a></li>
                    <li><a class="level1" href="/utils">Утилиты</a></li>
                    <li><a class="level1" href="/about">Разработка</a></li>
                </ul>
            </div>
            <a href="https://github.com/BombusMod/BombusMod">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                     src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                     alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

        </div>
    </div>
    <div class="container main">
        <div class="row">
            {% block content %} {% endblock %}
        </div>

    </div>
</div>
<footer>
    <div class="container">
        <p>Copyright © <a href="http://bombusmod.net.ru">BombusMod team</a>, 2006–2014.</p>
    </div>
</footer>

</body>
</html>
