{% extends "layout.html" %}

{% block content %}
<div class="span14">
<div id="padding">Исходный текст программы распространяется под <a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://opensource.org/licenses/gpl-license.php" target="_blank" class="urlextern" href="http://opensource.org/licenses/gpl-license.php">лицензией GPL v2</a>.
<div class="level1">
<div>Copyright (c) 2005-2009 Eugene Stahov (evgs), <a href="http://bombus-im.org" title="http://bombus-im.org" target="_blank">http://bombus-im.org</a></div>
<div>Copyright (c) 2006-2009 (this modification of Bombus) <a href="http://github.com/ad">Apatin Daniel</a></div>
<div>Copyright (c) 2009-2014 <a href="http://bombusmod.net.ru">BombusMod Team</a></div>
    <div>&nbsp;</div>
<div>В состав Bombus входят следующие библиотеки:&nbsp;</div>
<ol>
<li class="level1">
<div class="li"><a href="http://bombusmod.net.ru%3C/a%3E%3C/div%3E%3C/div%3E%0A%3Cdiv%20class="> </a><a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://kvmjab.sourceforge.net/" target="_blank" class="urlextern" href="http://kvmjab.sourceforge.net/">KVMJab</a> Copyright © 2000,2001 Al Sutton (al@alsutton.com). All rights reserved. (<a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://opensource.org/licenses/bsd-license.php" target="_blank" class="urlextern" href="http://opensource.org/licenses/bsd-license.php">лицензия BSD</a>)</div></li>
<li class="level1">
<div class="li"> <a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://www.jcraft.com/jzlib/" target="_blank" class="urlextern" href="http://www.jcraft.com/jzlib/">JZlib</a> Copyright © 2000,2001,2002,2003 ymnk, JCraft,Inc. All rights reserved. (<a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://opensource.org/licenses/bsd-license.php" target="_blank" class="urlextern" href="http://opensource.org/licenses/bsd-license.php">лицензия BSD</a>)</div></li>
<li class="level1">
<div class="li"> реализация MD5 и SHA1 из состава <a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://www.ssttr.com/" target="_blank" class="urlextern" href="http://www.ssttr.com/">SSTTR Library</a> (лицензии см. в исходных текстах: <a rel="nofollow" onkeypress="return svchk()" onclick="return svchk()" title="http://svn.xmpp.ru/repos/bombus/trunk/src/com/ssttr/crypto/" target="_blank" class="urlextern" href="http://svn.xmpp.ru/repos/bombus/trunk/src/com/ssttr/crypto/">com/ssttr/crypto/</a>)</div></li>
<li><a href="https://www.bouncycastle.org/java.html">Bouncycastle</a>, релизация TLS для JavaME платформы (<a href="http://opensource.org/licenses/MIT">лицензия MIT</a>)</li>
</ol>
</div>
</div>
</div>
{% endblock %}