{% extends "layout.html" %}

{% block content %}
<h1>Конвертер смайлов</h1>
<hr/>
<div class="panel panel-info">

    <div class="panel-body">
        <p>Данный конвертер предназначен для адаптации smiles.txt от Jimm к BombusMod.
            Чтобы преобразовать файл, нужно в строке выбора файла указать путь к smiles.txt от Jimm и нажать
            "преобразовать".
            Далее скачать полученный архив и применить его в бомбусмод.</p>
        <small>
            На данный момент работает с типами смайлов jimm aspro/jimm hattab, начинающихся с цифровых обозначений
        </small>

        <form class="form-stacked" method="POST" enctype="multipart/form-data" action="">
            <div class="form-group">
                <label for="myfile">Выбор файла</label>

                <p class="help-block">не более 10kb</p>
                <input type="file" name="myfile" id="myfile"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Преобразовать" class="btn btn-info"/>
            </div>

        </form>
    </div>
</div>
{% endblock %}