{% extends "layout.html" %}

{% block content %}

<div class="span14">
 <a href="converter/{{ id }}/smiles.zip">Download zip</a>
 <a href="converter/{{ id }}/smiles.txt">Download txt</a>
</div>
{% endblock %}