{% extends "layout.html" %}
{% block content %}
<div class="jumbotron col-xs-12">
    <div class="col-xs-12 col-md-4">
        <p>Мобильный клиент для мгновенного обмена сообщениями</p>

        <p><a href="http://play.google.com/store/apps/details?id=org.bombusmod" class="btn btn-info">
            <span class="glyphicon glyphicon-download"></span>
            <strong>Установить</strong> (Google Play)
        </a>
        </p>

    </div>
    <div class="col-xs-12 col-md-8">
        <img class="img-responsive" id="bombuscedar" src="files/phone.jpg" width="450" height="222"/>
    </div>

</div>
<div class="col-xs-10 col-md-10">
    <p>Другие варианты установки:</p>
    <ul class="nav nav-pills">
        <li>
            <a href="https://f-droid.org/repository/browse/?fdid=org.bombusmod">
                <span class="glyphicon glyphicon-download"></span>
                F-Droid
            </a>
        </li>
        <li>
            <a href="https://store.ovi.com/content/503100">
                <span class="glyphicon glyphicon-download"></span>
                Nokia Store (Nokia X)
            </a>
        </li>

        <li>
            <a href="https://store.ovi.com/content/503030">
                <span class="glyphicon glyphicon-download"></span>
                Nokia Store (для S40)
            </a>
        </li>
        <li>
            <a href="download/BombusMod.jar">
                <span class="glyphicon glyphicon-download"></span>
                JAR ({{ version }})
            </a>
        </li>
    </ul>
</div>

{% endblock %}
