﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="DESCRIPTION" content="bombus bombusmod j2me java mobile jabber client"/>
    <meta name="Keywords" content="bombus bombusmod j2me java mobile jabber client"/>
    <meta name="subject" content="bombus bombusmod j2me java mobile jabber client"/>
    <meta name="Document-state" content="Dynamic"/>
    <meta name="revizit-after" content="1 days"/>
    <meta name="home_url" content="http://bombusmod.net.ru"/>
    <meta name="robot" content="all"/>
    <meta name="yandex-verification" content="5577568a82a87b08"/>
    <meta name="google-site-verification" content="urOguVeUSbrSRPFzmo5jrXbYJ9XNffkTcmVQBbswAas"/>
    <meta name="msvalidate.01" content="2E334DA6F5D70CFC0FCA680A5FAF07D9"/>
    <meta name="y_key" content="36ea806052fce17c"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="/files/magic-bootstrap-min.css"/>
    <link rel="stylesheet" href="/files/style.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="alternate" title="BombusMod - модификация мобильного j2me(java) jabber клиента Bombus"
          href="/bombusmod.xml" type="application/rss+xml"/>
    <title>«BombusMod» - Модификация jabber клиента Bombus (BombusMod)</title>
</head>
<body role="document">
<div class="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="brand">
                    <img class="img-responsive" src="/files/logo.png"/></a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="level1" href="/c/"><span class="glyphicon glyphicon-wrench"></span> Конструктор</a>
                    </li>
                    <li><a class="level1" href="/screenshots"><span class="glyphicon glyphicon-picture"></span>
                        Скриншоты</a></li>
                    <li><a class="level1" href="/utils"><span class="glyphicon glyphicon-import"></span> Утилиты</a>
                    </li>
                    <li><a class="level1" href="https://github.com/BombusMod/BombusMod"><span class="glyphicon glyphicon-file"></span> GitHub</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container main" role="main">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p>Copyright © 2006–2014, <a href="http://bombusmod.net.ru">BombusMod team</a>.</p>
    </div>
</footer>

</body>
</html>
