{% extends "layout.html" %}

{% block content %}

<div class="span14">
<h1>Новости</h1>

<ul>
{% for post in posts %}
    <li>
        <a href="/news/{{ post.id }}">{{post.title}}</a> 
        <p>{{post.content}}</p>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}