{% extends "layout.html" %}

{% block content %}
<h2>Внешний вид:</h2>
<hr/>
<div class="col-xs-10 col-md-3">

        <img src="/screenshots/new/BombusModScreenshot_33199415926.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33199819102.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33199872969.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33199890513.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33199918473.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33199953250.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33199981131.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200006182.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200029635.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200068826.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200092925.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200116313.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200143749.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200233334.png" class="thumbnail img-responsive" alt=""/>
</div>
<div class="col-xs-10 col-md-3">
        <img src="/screenshots/new/BombusModScreenshot_33200275661.png" class="thumbnail img-responsive" alt=""/>
</div>
</div>
{% endblock %}
