{% extends "layout.html" %}

{% block content %}

<div class="span14">
<p>Дополнительные утилиты для "продвинутых" пользователей :) </p>

<a href="utils/converter">Конвертер смайлов (текстовика) из формата Jimm в формат Bombus</a>
</div>

{% endblock %}