body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.wrap {
    background-color: #fff;
    height: 100%;
    }
footer {
            color: #fff;
            background: #777;
            padding: 17px 0 18px 0;
        }
        footer a {
            color: #fff;
        }
        footer a:hover {
            color: #eee;
        }

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.btn .glyphicon {
  margin-right: 8px;
}

.btn.btn-icon .glyphicon {
  margin-right: 0;
}


